<h2 class="center">Cadastrar Usuário</h2>
<form [formGroup]="usuarioForm" (ngSubmit)="onSubmit()" class="conteudo">

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="Email" placeholder="Digite o email">
    <mat-error *ngIf="usuarioForm.get('Email')?.invalid">Email é obrigatório</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Senha</mat-label>
    <input matInput formControlName="Senha" type="password" placeholder="Digite a senha">
    <mat-error *ngIf="usuarioForm.get('Senha')?.invalid">Senha é obrigatória</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
  <mat-label>Perfil</mat-label>
  <mat-select formControlName="Role" placeholder="Escolha o perfil">
    <mat-option value="admin">Admin</mat-option>
    <mat-option value="usuario">Usuário</mat-option>
  </mat-select>
  <mat-error *ngIf="usuarioForm.get('Role')?.invalid">Perfil é obrigatório</mat-error>
 </mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="usuarioForm.invalid">
    Salvar
  </button>

</form>
<div *ngIf="mensagemSucesso" style="color: green; margin-top: 10px;">
  {{ mensagemSucesso }}
</div>

<!-- Mensagem de erro -->
<div *ngIf="mensagemErro" style="color: red; margin-top: 10px;">
  {{ mensagemErro }}
</div>
<app-rodape></app-rodape>

